---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---
<h2>{{member.title}}</h2>
<img src="/images/logo/lab-logo.png"
    style="filter: grayscale(0%); max-width: 270px;"/>
<!-- Staff -->

<br>
<br>

<!--<h4><a id="RA"></a>Students</h4>-->

{% assign members = site.posts | where: 'category', 'PI' | sort: 'date' %}

<div class="row">
    {% for member in members %}
    <div class="col-sm-6 clearfix">
        <div class="card team-member-card">
            <div class="row">
                <div class="col-md-4">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="filter: grayscale(10%); max-width: 150px;max-height: 150px;"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">{{ member.title }}</h4>
                        <p class="card-text">{{ member.role}}</p>
                        <ul class="list-inline list-unstyled">
                            <!-- Twitter -->
                            {% if member.social.twitter %}
                            <li><a color="black"  target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            <!-- Linkedin -->
                            {% if member.social.linkedin %}
                            <li><a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            <!-- Github -->
                            {% if member.social.github %}
                            <li><a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a></li>
                            {% endif %}
                            <!-- Personal Website -->
                            {% if member.social.website %}
                            <li><a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a></li>
                            {% endif %}
                            <!-- Google Scholar -->
                            {% if member.social.google-scholar %}
                            <li><a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
                            {% endif %}
                            <!-- Orcid -->
                            {% if member.social.orcid %}
                            <li><a target="blank" href="{{member.social.orcid}}"><i class="fab fa-orcid"></i></a></li>
                            {% endif %}
                            <!-- Research Gate -->
                            {% if member.social.research-gate %}
                            <li><a target="blank" href="{{member.social.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<hr>

<!-- Students -->

<!--<h4><a id="PDF"></a>Postdoctoral Fellows</h4>-->
<!--{% assign members = site.posts | where: 'category', 'PDF' | sort: 'date' %}-->
<!--{% for member in members %}-->
<!--<div class="card team-member-card">-->
<!--    <div class="row mt-3">-->
<!--        <div class="col-md-2">-->
<!--            <a href={{member.url}}>-->
<!--                <img src="{{ site.url }}{{ site.baseurl }}/images/logo/{{ member.image}}"-->
<!--                    class="card-img img-responsive img-thumbnail"-->
<!--                    style="filter: grayscale(70%); max-width: 100px;"/>-->
<!--            </a>-->
<!--        </div>-->
<!---->
<!--        <div class="col-md-10">-->
<!--            <div class="card-body">-->
<!--            <h4 class="card-title">{{ member.title }}</h4>-->
<!--            <p class="card-text">{{ member.role }}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!--{% endfor %}-->

<h4><a id="RA"></a>Students</h4>

{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}

<div class="row">
    {% for member in members %}
    <div class="col-sm-6 clearfix">
        <div class="card team-member-card">
            <div class="row">
                <div class="col-md-4">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="filter: grayscale(10%); max-width: 150px;max-height: 150px;"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">{{ member.title }}</h4>
                        <p class="card-text">{{ member.role }} <br><i>{{ member.major}}</i></p>
                        <ul class="list-inline list-unstyled">
                            <!-- Twitter -->
                            {% if member.social.twitter %}
                            <li><a color="black"  target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            <!-- Linkedin -->
                            {% if member.social.linkedin %}
                            <li><a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            <!-- Github -->
                            {% if member.social.github %}
                            <li><a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a></li>
                            {% endif %}
                            <!-- Personal Website -->
                            {% if member.social.website %}
                            <li><a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a></li>
                            {% endif %}
                            <!-- Google Scholar -->
                            {% if member.social.google-scholar %}
                            <li><a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
                            {% endif %}
                            <!-- Orcid -->
                            {% if member.social.orcid %}
                            <li><a target="blank" href="{{member.social.orcid}}"><i class="fab fa-orcid"></i></a></li>
                            {% endif %}
                            <!-- Research Gate -->
                            {% if member.social.research-gate %}
                            <li><a target="blank" href="{{member.social.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<hr>

<h4><a id="RA"></a>Interns</h4>

{% assign members = site.posts | where: 'category', 'RA' | sort: 'date' %}

<div class="row">
    {% for member in members %}
    <div class="col-sm-6 clearfix">
        <div class="card team-member-card">
            <div class="row">
                <div class="col-md-4">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="filter: grayscale(10%); max-width: 150px;max-height: 150px;"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                    <h4 class="card-title">{{ member.title }}</h4>
                    <p class="card-text">{{ member.role }} <br><i>{{ member.major}}</i></p>
                    <ul class="list-inline list-unstyled">
                        <!-- Twitter -->
                        {% if member.social.twitter %}
                            <li><a color="black"  target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
                        {% endif %}
                        <!-- Linkedin -->
                        {% if member.social.linkedin %}
                            <li><a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        <!-- Github -->
                        {% if member.social.github %}
                            <li><a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a></li>
                        {% endif %}
                        <!-- Personal Website -->
                        {% if member.social.website %}
                            <li><a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a></li>
                        {% endif %}
                        <!-- Google Scholar -->
                        {% if member.social.google-scholar %}
                            <li><a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
                        {% endif %}
                        <!-- Orcid -->
                        {% if member.social.orcid %}
                            <li><a target="blank" href="{{member.social.orcid}}"><i class="fab fa-orcid"></i></a></li>
                        {% endif %}
                        <!-- Research Gate -->
                        {% if member.social.research-gate %}
                            <li><a target="blank" href="{{member.social.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

